In [1]:
# store the item sets as lists of strings in a list
transactions = [
    ["beer", "wine", "cheese"],
    ["beer", "potato chips"],
    ["eggs", "flower", "butter", "cheese"],
    ["eggs", "flower", "butter", "beer", "potato chips"],
    ["wine", "cheese"],
    ["potato chips"],
    ["eggs", "flower", "butter", "wine", "cheese"],
    ["eggs", "flower", "butter", "beer", "potato chips"],
    ["wine", "beer"],
    ["beer", "potato chips"],
    ["butter", "eggs"],
    ["beer", "potato chips"],
    ["flower", "eggs"],
    ["beer", "potato chips"],
    ["eggs", "flower", "butter", "wine", "cheese"],
    ["beer", "wine", "potato chips", "cheese"],
    ["wine", "cheese"],
    ["beer", "potato chips"],
    ["wine", "cheese"],
    ["beer", "potato chips"],
]

# it is necessary for mlxtend to reorganise the data
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

# instantiate a transaction encoder
my_transactionencoder = TransactionEncoder()

# fit the transaction encoder using the list of transaction tuples
my_transactionencoder.fit(transactions)

# transform the list of transaction tuples into an array of encoded transactions
encoded_transactions = my_transactionencoder.transform(transactions)

# convert the array of encoded transactions into a dataframe
encoded_transactions_df = pd.DataFrame(encoded_transactions, columns=my_transactionencoder.columns_)
encoded_transactions_df

     beer  butter  cheese   eggs  flower  potato chips   wine
0    True   False    True  False   False         False   True
1    True   False   False  False   False          True  False
2   False    True    True   True    True         False  False
3    True    True   False   True    True          True  False
4   False   False    True  False   False         False   True
5   False   False   False  False   False          True  False
6   False    True    True   True    True         False   True
7    True    True   False   True    True          True  False
8    True   False   False  False   False         False   True
9    True   False   False  False   False          True  False
10  False    True   False   True   False         False  False
11   True   False   False  False   False          True  False
12  False   False   False   True    True         False  False
13   True   False   False  False   False          True  False
14  False    True    True   True    True         False   True
15   True   False    True  False   False          True   True
16  False   False    True  False   False         False   True
17   True   False   False  False   False          True  False
18  False   False    True  False   False         False   True
19   True   False   False  False   False          True  False

In [2]:
# our min support is 7, but it has to be expressed as a percentage for mlxtend
min_support = 7/len(transactions) 

# compute the frequent itemsets using fpgriowth from mlxtend
from mlxtend.frequent_patterns.fpgrowth import fpgrowth
frequent_itemsets = fpgrowth(encoded_transactions_df, min_support=min_support, use_colnames = True)

# print the frequent itemsets
frequent_itemsets

   support              itemsets
0     0.55                (beer)
1     0.40                (wine)
2     0.40              (cheese)
3     0.50        (potato chips)
4     0.35                (eggs)
5     0.35        (cheese, wine)
6     0.45  (beer, potato chips)

In [3]:
# Compute the association rules based on the frequent itemsets
from mlxtend.frequent_patterns import association_rules

# compute and print the association rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(cheese),(wine),0.40,0.40,0.35,0.875000,2.187500,0.190,4.80
1,(wine),(cheese),0.40,0.40,0.35,0.875000,2.187500,0.190,4.80
2,(beer),(potato chips),0.55,0.50,0.45,0.818182,1.636364,0.175,2.75
3,(potato chips),(beer),0.50,0.55,0.45,0.900000,1.636364,0.175,4.50