In [8]:
# Importation bibliothèques
import pandas as pd

# Importation dataset
data = pd.read_csv("../../Classification/Projet Classification/data/card_credit_fraud_Classification project Final.csv")
data

,transactionId,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0
1,1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0
2,2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1
3,3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1
4,4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...
1008208,6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1
1008209,6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1
1008210,6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1
1008211,6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1
1008212,6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1

In [9]:
code = {
    'PAYMENT':1,
    'TRANSFER':2,
    'CASH_OUT':3,
    'DEBIT':4,
    'CASH_IN':5,
}

data['type'] = data['type'].map(code)
data = data.drop(['nameOrig', 'nameDest'], axis=1)

In [10]:
data

,transactionId,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,0,1,1,9839.64,170136.00,160296.36,0.00,0.00,0
1,1,1,1,1864.28,21249.00,19384.72,0.00,0.00,0
2,2,1,2,181.00,181.00,0.00,0.00,0.00,1
3,3,1,3,181.00,181.00,0.00,21182.00,0.00,1
4,4,1,1,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...
1008208,6362615,743,3,339682.13,339682.13,0.00,0.00,339682.13,1
1008209,6362616,743,2,6311409.28,6311409.28,0.00,0.00,0.00,1
1008210,6362617,743,3,6311409.28,6311409.28,0.00,68488.84,6379898.11,1
1008211,6362618,743,2,850002.52,850002.52,0.00,0.00,0.00,1
1008212,6362619,743,3,850002.52,850002.52,0.00,6510099.11,7360101.63,1

In [11]:
from sklearn.model_selection import train_test_split


X = data.drop(columns=['isFraud'], axis = 1)
y = data['isFraud']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.42, random_state=42)

In [12]:
# Importation bibliothèque
from sklearn.cluster import KMeans

k_mean_fraud_8 = KMeans(n_clusters=8, n_init="auto")
k_mean_fraud_3 = KMeans(n_clusters=3, n_init="auto")

In [14]:
k_mean_fraud_8.fit(X, y)

TypeError: '<=' not supported between instances of 'str' and 'int'